* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #e9ecef;
  height: 2000px;
}

a {
  text-decoration: none;
}

#titale {
  font-size: 35px;
  width: 15%;
  min-width: 300px;
  margin: auto;
  color: #030303;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #adb5bd;
}

#sub-titale {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
.container {
  width: 100%;
  min-height: 60px;
  max-width: 1000px;
  margin: auto;
}

/* header <navbar and showcase> */

.header {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.navbar {
  display: flex;
  min-height: 60px;
  align-items: center;
}

.navbar .logo {
  width: 90px;
  margin: auto 30px;
  animation: moveToRight 1.5s ease 0.4s;
  transition: all 0.6s ease;
  animation-fill-mode: backwards;
}

.navbar .logo:hover {
  transform: scale(1.2);
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.navbar .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: auto;
  animation: moveToDown 1.5s ease 0.4s;
  animation-fill-mode: backwards;
}

.nav li {
  list-style-type: none;
  margin: auto 7px;
}

.nav li:last-of-type {
  margin-left: 50px;
}

.nav li a {
  color: #03071e;
  transition: all 0.5s ease;
}

.nav li a:hover {
  color: #e63946;
}

.showcase {
  width: 100%;
  height: 100%;
  background-image: url("showcase.jpg");
  background-size: cover;
  background-position: bottom;
}

/* header end <navbar and showcase> */

/* section <about> */

.about {
  width: 100%;
  min-height: 400px;
  background-color: #f8f9fa;
  padding-top: 30px;
}

.articales {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.articales #articale {
  width: 100%;
  max-width: 500px;
  margin: 15px;
}

.articales #articale h1 {
  padding-bottom: 10px;
}

.articales #photo {
  width: 90%;
  max-width: 400px;
  margin: 15px;
}

.articales #photo img {
  width: 100%;
  border-radius: 1em;
}

/* section end <about> */

/* section  <characters> */

.characters {
  width: 100%;
  min-height: 400px;
  background-color: #fff;
}

.photo_container {
  width: 100%;
  min-height: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.popo {
  width: 30%;
  min-width: 300px;
  height: 300px;
  margin: 10px;
}

.popo img {
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 0.5em;
}

/* section end <characters> */

/* section <trailer> */

.trailer {
  width: 100%;
  min-height: 500px;
  background-color: #f8f9fa;
}

.trailer .trailer_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trailer_container h3 {
  width: 30%;
  height: 100%;
  min-height: 100px;
  margin: 30px;
  padding: 1em;
  background-color: #fff;
  border-radius: 1em;
}

.trailer_container .trailer_video {
  width: 60%;
  margin: 10px;
  min-height: 300px;
}

.video {
  width: 100%;
}

/* section end <trailer> */

/* section <season> */

.seasons {
  width: 100%;
  min-height: 500px;
  padding-bottom: 40px;
  background-color: #fff;
}

.seasons_container {
  width: 100%;
  min-height: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
}

.seasons_container .box {
  width: 30%;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1),
    -2px -2px 2px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.seasons_container .box:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3),
    -2px -2px 2px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.seasons_container .box .main {
  width: 100%;
  height: 65%;
}

.seasons_container .box p {
  font-size: 1.3em;
  padding: 20px;
  color: #03071e;
  text-align: center;
}

.seasons_container .box p span {
  display: block;
  font-size: 2em;
}

/* section end <season> */

/* section <contact us> */

.contact_us {
  width: 100%;
  min-height: 500px;
  padding-bottom: 40px;
}

.form {
  width: 90%;
  max-width: 650px;
  min-height: 550px;
  background-color: #343a40;
  margin: auto;
  padding: 30px 20px;
  border-radius: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
  color: #f8f9fa;
}
.content p {
  padding: 10px;
  font-size: 16px;
  color: #f8f9fa;
}

.content form #put:first-child {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content form #put:last-of-type {
  margin-bottom: 40px;
}

.content form #put {
  font-size: 1em;
  margin-top: 10px;
  padding: 0.9em 1em;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
}

#lock_logo {
  width: 20px;
}

button {
  margin-top: 40px;
  padding: 1.4em 1em;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #e63946;
  color: #f8f9fa;
  outline: none;
  border: none;
  transition: all 0.4s ease;
}
button:hover {
  transform: translateY(-3px);
}

button:active {
  transform: translateY(2px);
}

/* section end <contact us> */

/* footer  */

footer {
  width: 100%;
  min-height: 400px;
  background-color: #343a40;
  color: #fff;
  padding: 40px 40px 10px 40px;
  margin-top: 20px;
}

footer .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
  line-height: 2em;
  font-size: 1.2em;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 70px;
}

.row .col {
  margin: 15px;
}

.col h3 {
  margin-bottom: 30px;
}

.col p a {
  color: #f8f9fa;
  font-size: 0.8em;
  transition: all 0.5s ease;
}

.col p a:hover {
  color: #e63946;
}

/* .down_footer */

.down_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

.down_footer p {
  padding-bottom: 20px;
}

.down_icons a {
  padding-left: 10px;
}

.down_icons img {
  width: 30px;
  transition: all 0.5s ease;
}

.down_icons img:hover {
  transform: scale(1.2);
}

/* media  */

@media (max-width: 699px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar .logo {
    width: 150px;
  }
  .navbar .nav {
    width: 90%;
    margin-bottom: 20px;
  }
  .articales {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  #articale {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .articales #photo {
    margin-bottom: 20px;
  }
}

@media (max-width: 799px) {
  .trailer_container h3 {
    width: 90%;
    /* height: 100%;
    min-height: 100px;
    margin: 30px;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em; */
  }
  .trailer_container .trailer_video {
    width: 90%;
    /* margin: 10px;
    min-height: 300px; */
  }
  .seasons_container {
    justify-content: center;
  }
}
